*{
	font-family: "微软雅黑";
}

ul{
	margin: 0px 0px;
	padding: 0px;
} 

p{
	text-indent: 20px;
}
.container{
	border-right: 1px solid #CCCCCC;
	padding: 0px;
	padding-top: 60px;
}

.header{
	height: 60px;
	background: #007DA8;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

#headnav{
	margin: auto;
}

.logoBox{
	float: left;
	height: 60px;
	line-height: 60px;
}

.logoBox img{
	vertical-align:middle;
	padding-left: 10px;
}

.headTab{
	height: 60px;
	border: none;
}

.headTab li{
	height: 100%;
	padding: 0;
}

.headTab li b{
	font-size: 10px;
	margin-right: 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background: url(../img/tabSelected.png);
	color: #FFFFFF;
	border: none;
}

.headTab li a{
	height: 100%;
	padding-top: 20px;
	width: 120px;
	margin: 0px 30px ;
	color: #C1F0FF;
	font-size: 16px;
	font-family: "微软雅黑";
}

.headTab li a:hover{
	background-color: #5BC0DE;
	color: #FFFFFF;
	border: none;
}

.headTab li a img{
	margin-right: 10px;
}

.opTab{
	padding-top: 80px;
}

.opTabList{
	margin: 20px 30px;
	margin-bottom: 0px;
	padding-bottom: 30px;
	margin-left: 0px;
	border: none;
}

.opTabList li{
	width: 200px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background: #EEEEEE;
	margin: 0px 0px;
	border: 1px solid #CCCCCC;

}

.opTabList li.active{
	background: #32B6CD;
	border: none;
}

.opTabList li a{
	color: #666666;
	font-size: 15px;
	margin: 0px 0px;
}

.opTabList li a:active{
	color: #FFFFFF;
}


/*左侧菜单*/
.sidebar-menu{
	width: 200px;
	float: left;
    position: fixed;
    box-shadow: 2px 0 2px #DDDDDD;
    margin: 0px 0px;
}
/*一级菜单*/
.menu-first{
    line-height:45px;
    background-color: #EFF4F4;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #e1e1e1;
    font-weight: normal;
}

/*一级菜单元素样式*/
.menu-first li{
    font-family: "微软雅黑";
    font-size: 16px;
}

.menu-first li a{
	padding: 0px 15px;
	color: #666666;
}

.menu-first li a:hover, .menu-first li a:focus{
	background: #E2E4E4;
	color: #444444;
}

/*菜单icon*/
.menu-first i{
	margin: 10px 10px;
	margin-left: 20px;
}
.menu-second i{
	margin-left: 50px;
}
/*二级菜单*/
.menu-second{
	background: #EFF4F4;
}

.menu-second{
	list-style: decimal;
}

.menu-second li a{
    height:35px;
    line-height:30px;
    font-size: 15px;
    padding: 0;
    z-index: 999;
    color: #3A6998;
    overflow: hidden;
}
/*二级菜单鼠标划过样式*/
.nav-stacked>li+li{
	margin-top: 0px;
}

.menu-second li a:hover {
    text-decoration: none;
}
/*二级菜单选中状态*/
.menu-second-selected {
    background-color: #66c3ec;
    height:31px;
    line-height:31px;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
    text-align:center;
}

/*tab位置样式*/
.opManualContent{
	padding-top: 20px;
	width: 100%;
}

.tabHead p{
	font-family: "微软雅黑";
	font-size: 16px;
	margin-bottom: 15px;
}

.tabHead #tabTitle{
	width: 200px ! important;
	height: 30px;
	line-height: 30px;
	margin-bottom: 20px;
	text-indent: 10px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	letter-spacing: 2px;
	background: url(../img/tabImg/tabtitle.png);
	background-repeat: no-repeat;
}

.tabHead img{
	margin: 10px 0px;
	max-width: 90%;
}

.tab-first li{
	color: #269ABC;
	font-family: "微软雅黑";
	list-style: none;
}

.tab-first li .tabFirP{
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 1px;
	text-indent: 0px;
	margin-top: -140px;
	padding-top: 140px;
	color: #0072A7;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 5px;
}

.tab-first li i img{
	margin: 20px 10px;
}


.tab-first li img{
	margin: 10px 0px;
	max-width: 90%;
}

.tab-second{
	list-style: disc;
}

.tab-second li p{
	color: #000000;
	font-size: 16px;
}

.tab-second li{
	margin: 15px 0px;
}

.tab-second li .tabsecTitle{
	color: #007DA8;
	text-indent: 0px;
	padding-left: 20px;
}

.tab-second li img{
	margin: 10px 0px;
	max-width: 90%;
}

.tab-second li .listIcon{
	margin: 0px 10px;
}

.subTab{
	height: 80px;
	background: #FFFFFF;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #FFFFFF;
}

/*应用案例*/
.caseBox{
	border: 1px solid #EEEEEE;
}
