*{
	font-family: "微软雅黑";
}

ul{
	margin: 0px 0px;
	padding: 0px;
} 

p{
	text-indent: 20px;
}

/*body{
	min-height: 1200px;
}*/
.container{
	padding: 0px;
	padding-top: 60px;
}

.header{
	height: 60px;
	background: #007DA8;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 500;
}

#headnav{
	margin: auto;
}

.logoBox{
	float: left;
	height: 60px;
	line-height: 60px;
}

.logoBox img{
	vertical-align:middle;
	padding-left: 10px;
}

.headTab{
	height: 60px;
	border: none;
}

.headTab li{
	height: 100%;
	padding: 0;
}

.headTab li b{
	font-size: 10px;
	margin-right: 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background: #007DA8;
	color: #FFFFFF;
	border: none;
}

.headTab li a{
	height: 100%;
	padding-top: 20px;
	width: 120px;
	margin: 0px 30px ;
	color: #C1F0FF;
	font-size: 16px;
	font-family: "微软雅黑";
}

.headTab li a:hover{
	background-color: #006688;
	color: #FFFFFF;
	border: none;
}

.headTab li a img{
	margin-right: 10px;
}

.opTab{
	padding-top: 80px;
	border-right: 1px solid #CCCCCC;
}

.opTabList{
	margin: 20px 30px;
	margin-bottom: 0px;
	padding-bottom: 30px;
	margin-left: 0px;
	border: none;
}

.opTabList li{
	width: 200px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background: #EEEEEE;
	margin: 0px 0px;
	border: 1px solid #CCCCCC;

}

.opTabList li.active{
	background: #32B6CD;
	border: none;
}

.opTabList li a{
	color: #666666;
	font-size: 15px;
	margin: 0px 0px;
	padding-bottom: 8px;
	padding-top: 8px;
}


.opTabList li a:active{
	color: #FFFFFF;
}


/*左侧菜单*/
.sidebar-menu{
	width: 200px;
	float: left;
    position: fixed;
    box-shadow: 2px 0 2px #DDDDDD;
    margin: 0px 0px;
}
/*一级菜单*/
.menu-first{
    line-height:45px;
    background-color: #EFF4F4;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #e1e1e1;
    font-weight: normal;
}

/*一级菜单元素样式*/
.menu-first li{
    font-family: "微软雅黑";
    font-size: 16px;
}

.menu-first li a{
	padding: 0px 15px;
	padding-left: 5px;
	color: #666666;
}

.menu-first li a:hover, .menu-first li a:focus{
	background: #E2E4E4;
	color: #444444;
}

/*菜单icon*/
.menu-first i{
	margin: 10px 10px;
	margin-left: 20px;
}
.menu-second i{
	margin-left: 40px;
}
/*二级菜单*/
.menu-second{
	background: #EFF4F4;
}

.menu-second{
	list-style: decimal;
}

.menu-second li a{
    height:35px;
    line-height:30px;
    font-size: 15px;
    padding: 0;
    z-index: 999;
    color: #3A6998;
    overflow: hidden;
}
/*二级菜单鼠标划过样式*/
.nav-stacked>li+li{
	margin-top: 0px;
}

.menu-second li a:hover {
    text-decoration: none;
}

.menu-second-selected {
	background: #E2E4E4;
	border: none;
	text-decoration: none;
	padding: 0 0;
	margin: 0 0;
}


/*二级菜单选中状态*/

/*tab位置样式*/
.opManualContent{
	padding-top: 20px;
	width: 100%;
}

.tabHead p{
	font-family: "微软雅黑";
	font-size: 16px;
	margin-bottom: 15px;
}

.tabHead #tabTitle{
	width: 200px ! important;
	height: 30px;
	line-height: 30px;
	margin-bottom: 20px;
	text-indent: 10px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	letter-spacing: 2px;
	background: url(../img/tabImg/tabtitle.png);
	background-repeat: no-repeat;
}

.tabHead img{
	margin: 10px 0px;
	max-width: 90%;
}

.tab-first li{
	color: #269ABC;
	font-family: "微软雅黑";
	list-style: none;
}

.tab-first li .tabFirP{
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 1px;
	text-indent: 0px;
	margin-top: -140px;
	padding-top: 140px;
	color: #0072A7;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 5px;
}

.tab-first li i img{
	margin: 20px 10px;
}


.tab-first li img{
	margin: 10px 0px;
	max-width: 90%;
}

.tab-second{
	list-style: disc;
}

.tab-second li p{
	color: #000000;
	font-size: 16px;
}

.tab-second li{
	margin: 15px 0px;
	margin-bottom: 0px;
}

.tab-second li .tabsecTitle{
	color: #007DA8;
	text-indent: 0px;
	padding-left: 20px;
}

.tab-second li img{
	margin: 10px 0px;
	max-width: 90%;
}

.tab-second li .listIcon{
	margin: 0px 10px;
}

.tab-second a{
	padding-left: 80px;
}

.subTab{
	height: 80px;
	background: #FFFFFF;
	position: fixed;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #FFFFFF;
}

/*应用案例*/
.row{
	margin: 10px 20px;
}
.caseContent{
	height: 200px;
	margin: 10px 20px;
	border: 1px solid #CCCCCC;
	padding: 10px 10px;
}

.caseContentShadow{
	box-shadow: 0px 0px 5px 2px #BBBBBB;
	-webkit-box-shadow: 0px 0px 5px 2px #BBBBBB;
	-moz-box-shadow: 0px 0px 5px 2px #BBBBBB;
}

.imgBox{
	float: left;
	margin: 10px 10px;
}
.caseContent .caseTitle{
	font-size: 16px;
	color: #396898;
	font-weight: bold;
	margin-top: 10px;
}

.textBox a{
	color: #777777;
}

.textBox a:hover{
	color: #0072A7;
}

.caseContent .caseInfo{
	margin-bottom: 20px;
}

.textBox a{
	float: right;
	margin-top: -20px;
	margin-right: 10px;
}

.videoContent{
	width: 882px;
	height: 496px;
}

/*滚动条*/  
* { 
    scrollbar-face-color: #353535; 
    scrollbar-shadow-color: #565656; 
    scrollbar-highlight-color: #565656; 
    scrollbar-3dlight-color: #7F7F7F; 
    scrollbar-darkshadow-color: #565656; 
    scrollbar-track-color: #565656; 
    scrollbar-arrow-color: #DADADA; 
}
 /*滚动条整体*/  
::-webkit-scrollbar{  
    width:10px; /*滚动条宽度*/
}  
/*滚动条按钮*/  
::-webkit-scrollbar-button {  
  
}  
::-webkit-scrollbar-track{  
    background-color:#F3F3F3;  /*滑道全部*/  
}  
::-webkit-scrollbar-track-piece{  
    background-color:#DFF3FA;  /*滑道*/  
    -webkit-border-radius:4px; /*滑道圆角宽度*/  
}  
::-webkit-scrollbar-thumb{  
    background-color:#97C2E1; /*滑动条表面*/  
    border:solid 1px #C0C0C0; /*滑动条边框*/  
    border-radius:4px;  /*滑动条圆角宽度*/  
}  
/*横竖滚动条交角*/  
::-webkit-scrollbar-corner {  
    background-color: #F3F3F3;  
}  
/*横竖滚动条交角图案*/  
::-webkit-resizer {  
   background-repeat: no-repeat;  
   background-position: bottom right;  
}  
       /*鼠标滑过滑动条*/  
::-webkit-scrollbar-thumb:hover{  
    background-color:#F3F3E0;  
}

